<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      <%= link_to "Tarea 1", homes_index_path %>
    </p>

    <p class="subtitle">
       <%= "Breaking Bad Episodio"%> 
    </p>
  </div>
  <%= form_with(model:  @search , method: :post, url: search_character_path) do |f| %>
    <div class="field is-grouped is-grouped-right">
      <p class="control is-normal">
      
        <%= f.text_field :search, class: "input", placeholder: "Buscar personaje"%>
        
      </p>
      <p class="control">
      <%= f.submit "Buscar", class: 'button is-info '%>
    </p>
      
    </div>
  <% end %>
</section>

<section class="section">
<div class="columns is-centered">
<div class="column is-narrow">
<table class = "table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">

  <tr>
  <th><strong> Capitulo </strong></th>
  <td> <%= @episodio["episode"] %></td>
  </tr>
  <tr>
  <th><strong>Titulo</strong></th>
  <td> <%= @episodio["title"] %></td>
  </tr>
<tr>
  <th><strong> Temporada </strong></th>
  <td> <%= @episodio["season"] %></td>
  </tr>
  <tr>
  <th><strong> Fecha de emision </strong></th>
  <td> <%= @air_date.slice(0,10) %></td>
  </tr>
  <tr>
</table>


<table class = "table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
<thead>
  <tr>
  <th><strong>Reparto</strong></th>

  </tr> 
</thead>
<tbody>
<% @episodio["characters"].each do |character| %>
  <tr>
    <td> <%= link_to character, character_path(character_name: character) %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
</section>

<%= link_to "Volver", breaking_bad_season_path(id: @episodio["season"])%>