
<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      Tarea 1
    </p>

    <p class="subtitle">
      Elige una temporada
    </p>
  </div>
  <%= form_with(model:  @search , method: :post, url: search_character_path) do |f| %>
    <div class="field is-grouped is-grouped-right">
      <p class="control is-normal">
      
        <%= f.text_field :search, class: "input", placeholder: "Buscar personaje"%>
        
      </p>
      <p class="control">
      <%= f.submit "Buscar", class: 'button is-info '%>
    </p>
      
    </div>
  <% end %>
</section>
<section class="section">
<div class="columns is-centered">
<div class="column is-narrow">
<figure class="image ">
  <img src="https://i.vimeocdn.com/video/447550857_1280x720.jpg" style= "width:600px;height:400px;" >
</figure>
<table class = "table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
<thead>
  <tr>
  <th><strong>Breaking Dad</strong></th>
  </tr> 
</thead>
<tbody>
<% @breaking_bad_seasons.each do |season| %>
  <tr>
    <td> <%= link_to ("Temporada " + season), breaking_bad_season_path(id: season)  %></td>
  </tr>
  <% end %>
</tbody>
</table>
<figure class="image ">
  <img src="https://www.liverarte.com/wp-content/uploads/2019/04/BETTER-CALL-SAUL-.jpg" style= "width:600px;height:400px;" >
</figure>

<table class = "table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
<thead>
  <tr>
  <th><strong>Better Call Saul</strong></th>
  </tr> 
</thead>
<tbody>
<% @better_caul_saul_seasons.each do |season| %>
  <tr>
    <td>  <%= link_to ("Temporada " + season), better_call_saul_season_path(id: season)%></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
</section>
